body{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background: url(media/bg-sito/2bg-acv.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -10;
}
