/* ! Header */

.header{
  width: 100%;
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  max-width: 1500px;
  z-index: 10;
  background-color: rgba(120, 120, 120, 0);
}

.logo{z-index: 20;  }

#video-logo{
  position: relative;
  bottom:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
  z-index: 10;
  overflow: hidden;
  align-items: center;


}

.menu{
  width: 100%;
  z-index: 1;
}

.menu li{display: inline-block;}
.menu li a{
  color: #000;
  position: relative;
  padding: 15px;
  padding-left: 100px;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.menu li a:before{
  content: '';
  width: 100px;
  position: absolute;
  border-bottom: 8px solid #FF9900;
  right: 600px;
  bottom: 0;  transition: 0.7s all;
}
.menu li a:hover:before{
  right: 0;
}

.mobile{opacity: 0; width: 0;height: 0; display: none; pointer-events: none;}
.hamburger{display: none;}

@media (max-width: 768px) {

  .cta{position: absolute; top:0; right:-100%;background: #000; padding-top: 100px;}
  .menu{position: absolute; top:0; right:-100%;background: #c31c1c;height: 100vh;padding-top: 100px;}
  .menu li{display: block; padding-top: 25px;}
  .menu li a{padding: 15px 30px;font-size: 20px; color: #fff; }

  .menu--open{right:0%;}
  .cta{
    position: absolute;
    top:0;
    right:-100%;
    background: none;
    text-align: center;
    width: 100%;
    height: auto;
    z-index: 4;
    transform: translateY(325%);
  }
  .cta--open{
    right:0%;
  }
  .hamburger{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top:40px;
    right:30px;
    z-index: 5;
  }
  .fa-bars{color: #fff; font-size: 40px;}

}
