/* ! Base Style */
body{
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, p{color:#000; padding-bottom: 30px;}
a{text-decoration: none;}
.big-text{font-size: 70px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}
.tw{color: #FFF;}

@media (max-width: 768px) {
  .big-text{font-size: 40px;}
  .button{width: 60%; text-align: center;}
}

/* Body */
.d1 {

  background: white;
  width: 200px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  margin: auto;
  position: relative;
  margin-top: 80px;
  background-color: #f2f2f2;
}
#test{
  margin: auto;
  margin-top: 50px;
  height: 500px;
  width: 500px;
}
.Alunno {
  background: white;
  width: 200px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  margin: auto;
  position: relative;
  margin-top: 80px;
  background-color: #f2f2f2;
  /*display: none;*/
}
.contact{
  padding: 10px;
  overflow: hidden;
  color: gray;
}
.contact label{
  font-weight: 700;
}
.texti{
  width: 100%;
  border: none;
  border-bottom: 2px solid #2F2F2F;
  font-size: 20px;
  margin: 8px 0;
  display: block;
  outline: none;
  color: gray;
  background-color: #f2f2f2;
}
